.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
    padding: 20px;
  }
  
  .header {
    margin-bottom: 20px; 
    color: #d1cece; 
    font-size: 2rem; 
  }
  
  .LoginFormContainer {
    width: 100%; 
    max-width: 320px;
    padding: 20px;
    background-color: rgb(208, 204, 204); 
    border-radius: 8px;
  }
  