.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.description {
  text-align: center;
  max-width: 800px;
  margin-bottom: 20px;
}

.text {
  color: #dedbdb;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.imageContainer {
  width: 100%;
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 800px; 
}


